h1 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(238, 135, 260, 123));

    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

button {
    background-color: rgb(203, 238, 240);
    width: 100px;
    height: 20px;
}

tr {
    border: 2px solid blue;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}